@*<img src="@backdropLink" alt="image"/>*@
<div>
    <h3>Card</h3>
    <p>description</p>
</div>
<div>
    <div>
        <h4>Each</h4>
        <p>price</p>
    </div>
    <div>
        <h4>Quantity</h4>
        <p>quantity</p>
    </div>
    <div>
        <h4>Total</h4>
        <p>price</p>
    </div>
    <div>
        <p>Purchase Date</p>
    </div>
</div>

 @code
 {
     [Parameter]
    public string? Title { get; set; }
 }
