.carousel-container {
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: auto;
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border: none;
    gap: 10px;
}

.carousel-wrapper {
    overflow: auto;
    
}
.carousel-wrapper::-webkit-scrollbar {
    display: none; /* don´t display the bar */
}

.carousel-track {
    display: flex;
    transition: transform 0.4s ease-in-out;
    width: calc(100% * 5); /* You can customize it depending on the number of images */
}

.carousel-item {
    /*flex: 0 0 25%; /* 100% / 4 images = 25% */
    padding: 5px;
    box-sizing: border-box;
    display: flex;
    margin: 5px;
    float: left;
    width: 180px;
}

.carousel-item img {
    width: 100%;
    height: 150px;
    object-fit: scale-down;
    border-radius: 8px;
}

.carousel-button {
    background: #333334;
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 30px;
    padding: 8px 12px;
    cursor: pointer;
    z-index: 10;
    border: none;
    border-radius: 50%;
}

.carousel-button.right {
    right: 35px;
}
/* actualizado*/

.movie-section {
    align-items: center;
}
.section-title { 
    font-size: 1.5em;
    color: gold;
    font-weight: bold;
    margin: 20px 0 10px 0; 
    text-align: center;
}
.movie-carousel {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding-bottom: 10px;
    width: 930px;
    transform: translatex(20%);
}
.movie-carousel.no-scrollbar {
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none; /* For Internet Explorer and Edge */
}

.movie-carousel.no-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.movie-poster {
    height: 160px;
    border-radius: 8px;
    transition: transform 0.3s;
}

.movie-poster:hover {
    transform: scale(1.05);
}