
@using SistemaDeBilheteira.Services.UI
@inject NotificationService NotificationService
@namespace SistemaDeBilheteira.Components.Cards
@rendermode InteractiveServer

@if (!string.IsNullOrEmpty(Message))
{
    <div class="notification">
        @Message
    </div>
}

@code {
    private string? Message { get; set; }

    protected override void OnInitialized()
    {
        NotificationService.OnNotify += ShowMessage;
    }

    private async void ShowMessage(string message)
    {
        Message = message;
        StateHasChanged();

        // show the message for 3 seconds
        await Task.Delay(3000);

        Message = null;
        await InvokeAsync(StateHasChanged);

    }

    public void Dispose()
    {
        NotificationService.OnNotify -= ShowMessage;
    }
}
