.element {
    border-radius: 20px;
    width: 442px;
    height: 216px;
    padding: 20px 30px 20px 30px;
    margin-top: 2%;
    display: grid;
    place-items: center;
}

.button{
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-shrink: 0;
    gap: 20px;
}

.search{
    padding: 12px;
    background: #FFC700;
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    border: none;
}
.glass-image:hover{
    display: flex;
    justify-content: right;
    height: 10px;
    width: 10px;
    z-index: 3;
}


