
<div class="element">
    <div class="button">
        <a class="search" type="submit" href="/">Keep Searching
        <img class="glass-image" src="images/icons/magnifying.png" alt="not found "/>
        </a>
    </div>
    <div class="bar"></div>
</div>

@code{

    

}
