
<div class="element">
    <div class="button">
        <button class="search" type="submit">Keep Searching
        <img class="glass-image" src="images/icons/magnifiying.png" alt="not found "/>
        </button>
    </div>
</div>

@code{

    

}
