.input-container {
    display: flex;
    align-items: center;
    background-color: #0D0D0D;
    border-radius: 10px;
    padding: 10px 20px;
    height: 70px;
    width: 100%;
    max-width: 500px;
    margin: 10px auto;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.6);
}

.input-icon {
    width: 24px;
    height: 24px;
    margin-right: 15px;
    filter: brightness(0) saturate(100%) invert(75%) sepia(87%) saturate(673%) hue-rotate(6deg) brightness(102%) contrast(103%);
}

.input-content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

.input-label {
    font-size: 12px;
    color: #FFFFFF;
    font-family: Montserrat, sans-serif;
    /*margin-bottom: 4px;*/
    letter-spacing: 1px;
}

input.input-fields {
    background: transparent;
    border: none;
    color: white;
    font-size: 14px;
    font-family: Montserrat, sans-serif;
    outline: none;
}

.form-container {
    max-width: 500px;
    margin: 0 auto;
    padding: 20px;
    background-color: #2D2D2F;
    border-radius: 12px;
    font-family: 'Montserrat', sans-serif;
    display: grid;
    place-items: center;
}

.title {
    color: white;
    text-align: center;
    font-size: 28px;
    font-weight: 700;
}

.subtitle {
    color: #FFC700;
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

/*.input-field::placeholder {
    color: #AFAFAF;
    text-transform: uppercase;
}

input.input-field{
    all: unset;
    background-color: #000 !important;
    color: white !important;
    padding: 15px !important;
    border-radius: 8px !important;
    width: 100% !important;
    margin-bottom: 15px !important;
    font-family: 'Montserrat', sans-serif !important;
    font-size: 14px !important;
    box-sizing: border-box !important;
}*/



.row {
    display: flex;
    gap: 15px;
    width: 460px;
    align-items: center;
}

.half {
    flex: 1;
}

.submit-button {
    background-color: #FFC700;
    border: none;
    padding: 12px;
    width: 100%;
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
    border-radius: 8px;
    margin-top: 10px;
    cursor: pointer;
}
