@using System.Text.RegularExpressions
@using SistemaDeBilheteira.Services.AuthenticationService.Models
@rendermode InteractiveServer
@inject IJSRuntime JS

<EditForm Model="InfoUserModel" OnValidSubmit="HandleSubmit" FormName="InfoUserForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="title">User Info</div>
    <p class="subtitle">Here you can modify your data</p>
    <div class="input-container">
        <img src="images/icons/email.svg" alt="email" class="input-icon"/>
        <div class="input-content">
            <label class="input-label">EMAIL ADDRESS</label>
            <InputText class="input-fields" @bind-Value="InfoUserModel.EmailAddress" placeholder="Enter your email" />
        </div>
    </div>
    <div class="input-container">
        <img src="images/icons/lock.svg" alt="email" class="input-icon"/>
        <div class="input-content">
            <label class="input-label">OLD PASSWORD</label>
            <InputText id="oldPassword" type="password" class="input-fields" @bind-Value="InfoUserModel.OldPassword" placeholder="Enter your old password" />
        </div>
        <img src="images/icons/eye-icon.svg" alt="toggle" class="toggle-password" onclick="togglePassword('oldPassword', this)" />
    </div>

    <div class="input-container">
        <img src="images/icons/lock.svg" alt="lock" class="input-icon"/>
        <div class="input-content">
            <label class="input-label">NEW PASSWORD</label>
            <InputText id="newPassword" type="password" class="input-fields" @bind-Value="InfoUserModel.NewPassword" placeholder="Enter your new password" />
        </div>
        <img src="images/icons/eye-icon.svg" alt="toggle" class="toggle-password" onclick="togglePassword('newPassword', this)" />
    </div>

    <div class="input-container">
        <img src="images/icons/lock.svg" alt="email" class="input-icon"/>
        <div class="input-content">
            <label class="input-label">CONFIRM NEW PASSWORD</label>
            <InputText id="conPassword" type="password" class="input-fields" @bind-Value="InfoUserModel.ConfirmPassword" placeholder="Confirm new password" />
        </div>
        <img src="images/icons/eye-icon.svg" alt="toggle" class="toggle-password" onclick="togglePassword('conPassword', this)" />
    </div>
</EditForm>

<EditForm Model="Model" OnValidSubmit="HandleSubmit" FormName="CardForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-container">
        <h2 class="title">Card Info</h2>
        <p class="subtitle">Here you can add another Card</p>

        <InputText class="input-field" @bind-Value="Model.NameOnCard" placeholder="NAME ON CARD" />
        <InputText @bind-Value="Model.CardNumber" 
                   id = "cardNumber"
                   class="input-field"
                   max-length="19"
                   placeholder="0000 0000 0000 0000"
                   oninput="FormatCardNumber(this)"
                   onkeydown="BlockLetters(event)"/>

        <div class="row">
            <InputText class="input-field half" @bind-Value="Model.CVV" placeholder="CVV"
                       onkeydown="BlockLetters(event)"
                       oninput="FormatCVVNumber(this)"/>
            <InputDate class="input-field half" @bind-Value="Model.ExpDate" />
        </div>

        <button class="submit-button" type="submit">Add Card</button>
    </div>
</EditForm>

<script src="scripts/UserInfoItem.js"></script>




@code {
    
    [Parameter] 
    public CardModel? Model { get; set; } 
    
    [Parameter]
    public InfoUserModel? InfoUserModel { get; set; }
    
    [Parameter] 
    public EventCallback OnValidSubmit { get; set; }

    private void HandleSubmit()
    {
        OnValidSubmit.InvokeAsync();
    }
}

