@using SistemaDeBilheteira.Services.AuthenticationService.Models
@rendermode InteractiveServer

<div class="title">User Info</div>
<p class="subtitle">Here you can modify your data</p>
<div class="input-container">
    <img src="images/icons/email.svg" alt="email" class="input-icon" />
    <div class="input-content">
        <label for="email" class="input-label">EMAIL ADDRESS</label>
        <input type="email" id="email" class="input-fields" placeholder="Enter your email" />
    </div>
</div>
<div class="input-container">
    <img src="images/icons/lock.svg" alt="email" class="input-icon" />
    <div class="input-content">
        <label for="oldPass" class="input-label">OLD PASSWORD</label>
        <input type="oldPass" id="oldPass" class="input-fields" placeholder="Enter your old password" />
    </div>
    <img src="images/icons/eye-icon.svg" alt="toggle visibility" class="toggle-password" onclick="togglePassword()" />
</div>

<div class="input-container">
    <img src="images/icons/lock.svg" alt="lock" class="input-icon" />
    <div class="input-content">
        <label for="newPass" class="input-label">NEW PASSWORD</label>
        <input type="newPass" id="password" class="input-fields" placeholder="Enter your password" />
        @*<input @bind="Password" id="password" class="input-field" placeholder="Enter your password" type="@PasswordInputType" />*@
    </div>
    <img src="images/icons/eye-icon.svg" alt="toggle visibility" class="toggle-password" onclick="togglePassword()" />
</div>

<div class="input-container">
    <img src="images/icons/lock.svg" alt="email" class="input-icon" />
    <div class="input-content">
        <label for="conPass" class="input-label">CONFIRM NEW PASSWORD</label>
        <input type="conPass" id="conPass" class="input-fields" placeholder="Confirm new password" />
    </div>
    <img src="images/icons/eye-icon.svg" alt="toggle visibility" class="toggle-password" onclick="togglePassword()" />
</div>

<EditForm Model="Model" OnValidSubmit="HandleSubmit" FormName="CardForm">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="form-container">
        <h2 class="title">Card Info</h2>
        <p class="subtitle">Here you can add another Card</p>

        <InputText class="input-field" @bind-Value="Model.NameOnCard" placeholder="NAME ON CARD" />
        <InputText class="input-field" @bind-Value="Model.CardNumber" placeholder="CARD NUMBER" />

        <div class="row">
            <InputText class="input-field half" @bind-Value="Model.CVV" placeholder="CVV" />
            <InputDate class="input-field half" @bind-Value="Model.ExpDate" />
        </div>

        <button class="submit-button" type="submit">Add Card</button>
    </div>
</EditForm>



@code {
    
    [Parameter] public CardModel? Model { get; set; } 
    //private CardModel Model { get; set; } = new CardModel();
    [Parameter] public EventCallback OnValidSubmit { get; set; }

    private void HandleSubmit()
    {
        OnValidSubmit.InvokeAsync();
    }

    
    
    [Parameter] public string Label { get; set; } = "Password";
    [Parameter] public string Placeholder { get; set; } = "";
    [Parameter] public string Value { get; set; } = "";
    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    private bool IsVisible { get; set; } = false;

    private string PasswordType => IsVisible ? "text" : "password";

    private async Task ToggleVisibility()
    {
        IsVisible = !IsVisible;
        await ValueChanged.InvokeAsync(Value);
    }
    
    
    private string Password { get; set; } = string.Empty;

    private bool ShowPassword { get; set; } = false;

    private string PasswordInputType => ShowPassword ? "text" : "password";

    private string EyeIcon => ShowPassword ? "images/icons/eye-closed.svg" : "images/icons/eye-icon.svg";

    private void TogglePasswordVisibility()
    {
        ShowPassword = !ShowPassword;
    }
}
