.element[b-rsu7puhp1b] {
    border-radius: 20px;
    background: #1A1A1D;
    width: 100%;
    padding: 20px 30px 20px 30px;
    display: flex;
    margin-top: 2%;
}



.content[b-rsu7puhp1b]{
    margin-left: 20px;
    display: flex;
}

.text[b-rsu7puhp1b]{
    color: #C4C4C4;
}

.information[b-rsu7puhp1b]{
    font-family: Poppins, serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.number[b-rsu7puhp1b]{
    color: #FFF;
}

.quantity[b-rsu7puhp1b]{
    border-radius: 20px;
    background: #333335;
    text-align: center;
}

.movie-name[b-rsu7puhp1b]{
    color: #FEFCFC;
    font-family: Montserrat, serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.movie-image[b-rsu7puhp1b]{
    width: 25%;
}

.price-details[b-rsu7puhp1b]{
    margin-top: 10%;
    display: flex;
}

.detail[b-rsu7puhp1b]{
    margin-left: 12px;
    margin-right: 12px;
}

.center[b-rsu7puhp1b]{
    margin-top: 8%;
}
