<div class="banner">
    <div class="logo">
        <img class="projector" src="images/icons/authentication/projector.png" alt="logo"/>
        <div class="page-name">UMAMovies</div>
        <div class="description">Movies Made Easy – Tickets,<br/> Rentals & DVDs at Your Click!</div>
    </div>
</div>


@code {
    
}