.element {
    border-radius: 20px;
    background: #1A1A1D;
    width: 442px;
    height: 216px;
    padding: 20px 30px 20px 30px;
    margin-top: 2%;
    display: grid;
    place-items: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    width: 200px;
    /*height: 10px;*/
    flex-shrink: 0;
    gap: 20px;
}

.payment{
    padding: 12px;
    background: #FFC700;
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    border: none;
}

.cart{
    padding: 12px;
    background: #747269;
    color: #FFFFFF;
    font-family: Montserrat, serif;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    border-radius: 100px;
    border: none;
}

.text-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.title {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 700;
    margin: 0;
    line-height: 1;
}

.subtitle {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-left: 5px;
    line-height: 1;
}

