
<div class="element">
    <div class="text-section">
        <h1 class="title">Cart subtotal:</h1>
        <p class="subtitle">89.99€</p>
    </div>
    <div class="buttons">
        <a class="payment" type="submit" href="ConfirmPayment">Make payment</a>
        <a class="cart" type="submit" href="Cart">Go to cart</a>
    </div>
</div>

@code {
    
}


