
<div class="element">
    <div class="text-section">
        <h1 class="title">Cart subtotal:</h1>
        <p class="subtitle">89.99€</p>
    </div>
    <div class="buttons">
        <button class="payment" type="submit">Make payment</button>
        <button class="cart" type="submit">Go to cart</button>
    </div>
</div>

@code {
    
}


