@using SistemaDeBilheteira.Services.AuthenticationService.Models
@rendermode InteractiveServer
@*<div class="add-address"></div>*@

<EditForm Model="Model" OnValidSubmit="HandleSubmit" FormName="add-address">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <div class="input-container">
        <div class="input-content">
            <label class="input-label">Street Line 1</label>
            <InputText class="form-control" @bind-Value="Model.StreetLine1" />
        </div>
    </div>
    <div class="input-container">    
        <div class="input-content">
            <label class="input-label">Street Line 2</label>
            <InputText class="form-control" @bind-Value="Model.StreetLine2" />
        </div>
    </div>
    <div class="input-container">        
        <div class="input-content">
            <label class="input-label">Country</label>
            <InputText class="form-control" @bind-Value="Model.Country" />
        </div>
    </div>
    <div class="input-container">            
        <div class="input-content">        
            <label class="input-label">State</label>
            <InputText class="form-control" @bind-Value="Model.State"/>
        </div>
    </div>
    <div class="input-container">                
        <div class="input-content">
            <label class="input-label">City</label>
            <InputText class="form-control" @bind-Value="Model.City" />
        </div>
    </div>
    <div class="input-container">                    
        <div class="input-content">
            <label class="input-label">ZIP Code</label>
            <InputText class="form-control" @bind-Value="Model.ZipCode" />
        </div>
    </div>
    <div class="input-container">                        
        <div class="input-content">        
            <button type="submit" class="submit">ADD ADDRESS</button>
        </div>
    </div>
</EditForm>    
<script src="scripts/UserInfoItem.js"></script>

@code {
    [Parameter] public AddressModel? Model { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    
    /**
     * This method is called when the component is initialized.
     * It fetches the movie data from the API and sets the PosterPath and Type properties.
     */
    private void HandleSubmit()
    {
        OnValidSubmit.InvokeAsync();
    }
}