@using SistemaDeBilheteira.Services.AuthenticationService.Models
@rendermode InteractiveServer
<div class="add-address"></div>

<EditForm Model="Model" OnValidSubmit="HandleSubmit" FormName="add-address">
    <DataAnnotationsValidator />
    <ValidationSummary />

    <label>Street Line 1</label>
    <InputText @bind-Value="Model.StreetLine1" class="form-control" />

    <label>Street Line 2</label>
    <InputText @bind-Value="Model.StreetLine2" class="form-control" />

    <label>Country</label>
    <InputText @bind-Value="Model.Country" class="form-control" />

    <label>State</label>
    <InputText @bind-></InputText>Value="Model.State" class="form-control" />

    <label>City</label>
    <InputText @bind-Value="Model.City" class="form-control" />

    <label>ZIP Code</label>
    <InputText @bind-Value="Model.ZipCode" class="form-control" />
    
    <button type="submit" class="submit">ADD ADDRESS</button>
</EditForm>

@code {
    [Parameter] public AddressModel? Model { get; set; }
    [Parameter] public EventCallback OnValidSubmit { get; set; }
    
    private void HandleSubmit()
    {
        OnValidSubmit.InvokeAsync();
    }
}