.address{
    width: 20%;
    margin: 5%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.form-control{
    all: unset;
    background-color: #000;
    color: white;
    padding: 15px;
    border-radius: 8px;
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    box-sizing: border-box;
    align-items: center;
}

.info{
    width: 200px;
    text-align: center;
}
.delete-button {
    background-color: #c82333; 
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
    align-self: center; 
    margin-left: 60px;
    margin-top: 10px;
}
