<div class="address">
    <div class="name">Cidade</div>
    <div class="address-street-line-1">Cidade</div>
    <div> Pais</div>
    <div>
        <button>Delete</button>
    </div>
</div>

@code {
    
}