.background{
    padding: 20px 50px 20px 50px;
    background-color: #333334;
}

.flex{
    display: flex;
    justify-content: space-between;
}

.products{
    width: 56%;
}

.select{
    margin-left: 40px;
}

