@page "/Cart"
@using SistemaDeBilheteira.Components.Cards.Cart
@using SistemaDeBilheteira.Components.Cards
<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Nunito">



<div class="background">
    <div class="logo">
        <img class="cart-image" src="images/icons/cart/cart.svg" alt="cart"/>
        <div class="title">MY CART</div>
    </div>
    
    <div class="flex">
        <div class="products">
            <CartItemElement></CartItemElement>
            <CartItemElement></CartItemElement>
            <CartItemElement></CartItemElement>
        </div>
        
        <div class="payment">
            <PromoCode></PromoCode>
            <PaymentMethodElement></PaymentMethodElement> 
        </div>
    </div>
    
</div>

<Footer></Footer>

@code {
    
}