@page "/Cart"
@using SistemaDeBilheteira.Components.Cards

<div class="background">
    <div class="logo">
        <img class="cart-image" src="images/icons/cart/cart.svg" alt="cart"/>
        <div class="title">MY CART</div>
    </div>
    
    <div class="products">
        
    </div>
    
    <div class="payment">
        
    </div>
</div>

<Footer></Footer>

@code {
    
}