.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.title{
    display: inline-block;  
    justify-content: center; 
    align-items: center;
    margin-left: 15px;

    color: #FFC700;
    font-family: Montserrat, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.background{
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333334;
}