@page "/"
@using SistemaDeBilheteira.Services.Movies;

<PageTitle>Home</PageTitle>

<h1>@title</h1>
<img src="@backdropLink" alt="image"/>
Welcome to your new app.


@code{
    string? title;
    string backdropLink = "https://image.tmdb.org/t/p/original";
    MovieResponse? response;
    
    protected override async Task OnInitializedAsync()
    {
        var deserializer = new MovieDeserializer();
        response = await deserializer.FetchPopularMovies();
        Console.WriteLine(response.Results[0].BackdropPath);
        backdropLink += response.Results[0].BackdropPath;
        title = response.Results[0].Title;
    }



}