@inject NotificationService NotificationService
@namespace SistemaDeBilheteira.Components.Pages.Notification
@rendermode InteractiveServer
@if (!string.IsNullOrEmpty(Message))
{
    <div class="notification">
        @Message
    </div>
}

@code {
    private string? Message;

    protected override void OnInitialized()
    {
        NotificationService.OnNotify += ShowMessage;
    }

    private async void ShowMessage(string message)
    {
        Message = message;
        StateHasChanged();

        // Mostrar el mensaje por 3 segundos
        await Task.Delay(3000);

        Message = null;
        await InvokeAsync(() => StateHasChanged());

    }

    public void Dispose()
    {
        NotificationService.OnNotify -= ShowMessage;
    }
}
