@page "/PaymentSucssefully"

<div class="background">
    <div class="container">
        <div class="text-icon-container">
            <div class="text-section">
                <h1 class="title">Payment Concluded</h1>
                <p class="subtitle">Thanks for buying!</p>
            </div>
            <img src="images/icons/check.png" alt="check" class="input-icon" />
        </div>
    </div>
</div>

@code {
    
}

