@page "/PaymentFailed"
@inherits AuthenticatedComponentBase

<div class="background">
    <div class="container">
        <div class="text-icon-container">
            <div class="text-section">
                <h1 class="title">Payment Failed</h1>
                <p class="subtitle">Something went wrong!</p>
            </div>
            <img src="images/icons/failed.png" alt="check" class="input-icon" />
        </div>
    </div>
</div>
@code {
    
}