@page "/Profile"

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">

<div class="background">
    
    <div class="profile-background">
        <img src="images/icons/@_profileImageFile" class="profile-picture" alt="Logo"/>
        <img src="images/icons/logout.svg" class="logout-button" alt="logout">
        <div class="welcome-message">
            <h2 class="welcome-title greetings">Hi, @_userName</h2>
            <h1 class="welcome-title welcome">Welcome.</h1>
        </div>
    </div>
</div>

@code {
    private readonly string _profileImageFile = "profile1.svg";
    private readonly string _userName = "User";
}