@page "/Profile"
@inherits AuthenticatedPage
@rendermode InteractiveServer
@using SistemaDeBilheteira.Components.Cards
@inject NavigationManager Navigation


<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">

<div class="background">
    <div class="profile-background">
        <img src="images/icons/@_profileImageFile" class="profile-picture" alt="Logo"/>
        <img @onclick="HandleLogout" src="images/icons/logout.svg" class="logout-button" alt="logout">
        <div class="welcome-message">
            <h2 class="welcome-title greetings">Hi, @User!.FirstName</h2>
            <h1 class="welcome-title welcome">Welcome.</h1>
        </div>
        
        <div class="options">
            <UserProfileOption
                ImageSource="images/icons/profile/user.svg"
                Title="Edit Info"
                Description="Edit your information"
                href="/UserInfo">
            </UserProfileOption>

            <UserProfileOption
                ImageSource="images/icons/profile/purchaseHistory.svg"
                Title="Purchase History"
                Description="Review your purchases"
                href="/PurchaseHistory">
            </UserProfileOption>
        </div>

        <div class="options">


            <UserProfileOption
                ImageSource="images/icons/profile/rentalHistory.svg"
                Title="Rental History"
                Description="Info about rentals"
                href="/RentalHistory">
            </UserProfileOption>

            <UserProfileOption
                ImageSource="images/icons/profile/purchaseHistory.svg"
                Title="Addresses"
                Description="Add or Delete an address"
                href="/EditAddress">
            </UserProfileOption>
        </div>
        
        <div class="options">
            <UserProfileOption
                ImageSource="images/icons/profile/purchaseHistory.svg"
                Title="Payment Methods"
                Description="Add or Delete a payment method"
                href="/PaymentMethods">
            </UserProfileOption>
        </div>
    </div>
</div>

@code {
    private readonly string _profileImageFile = "profile1.svg";
    
    private void HandleLogout()
    {
        Navigation.NavigateTo("/logout");
    }
}