@page "/PurchaseHistory"
@using SistemaDeBilheteira.Components.Cards;

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat">
<PageTitle>Purchase History</PageTitle>
<div class="background">
    <div class="logo">
        <img class="purchase-image" src="images/icons/purchase/purchase.svg" alt="cart"/>
        <div class="title">PURCHASE HISTORY</div>
    </div>
    
    <div class="products">
        <PurchaseHistoryItem></PurchaseHistoryItem>
        <PurchaseHistoryItem></PurchaseHistoryItem>
        <PurchaseHistoryItem></PurchaseHistoryItem>
    </div>
</div>
    

@code {
    
    

}