@page "/QuantityOfTickets/{id:int}"
@inherits AuthenticatedPage
@using SistemaDeBilheteira.Services.API_Deserializer
@using SistemaDeBilheteira.Services.API_Deserializer.Deserializable.Models
@using SistemaDeBilheteira.Services.Database.Entities.ProductSystem
@using SistemaDeBilheteira.Services.IService
@using SistemaDeBilheteira.Services.IService.ServiceManager
@rendermode InteractiveServer
@inject NavigationManager NavigationManager
@using SistemaDeBilheteira.Services.UI
@inject SharedTicket SharedTicket 
@inject IServiceManager ServiceManager
@inject Blazored.SessionStorage.ISessionStorageService SessionStorage

@if (Movie != null)
{
    <div class="movie-info">
        <div class="movie-details">
            <h2 class="movie-title">@Movie.Title</h2>
            <p class="date">@Function!.Date.ToString("dddd, MMMM d")</p>
            <p class="time">@Function!.Date.ToString("HH:mm")h</p>

            <div class="cinema-name">
                <img src="images/icons/location.svg" alt="location" class="button-icon" />
                <p class="cinema">Cinemas NOS Forum Madeira</p>
                <p class="location">Funchal, Madeira</p>
            </div>

            <div class="session-name">
                <p class="room">Room 5</p>
            </div>
        </div>

        <div class="people-going">
            <p class="people-going-text">How many people will go?</p>

            <div class="counter-container">
                <div class="counter-box">
                    <div class="number-display">@NumberOfPeople</div>
                </div>
                <div class="counter-buttons">
                    <button class="arrow-button" @onclick="IncreasePeople">▲</button>
                    <button class="arrow-button" @onclick="DecreasePeople">▼</button>
                </div>
            </div>

            <div class="continue-container">
                <button class="primary-button" @onclick="ProceedToNextStep">Continue</button>
            </div>
        </div>
    </div>
}
else
{
    <p>Loading movie details...</p>
}

@code {
    [Parameter] public int id { get; set; }
    private Movie? Movie { get; set; }
    private int NumberOfPeople { get; set; } = 1;

    private Function? Function { get; set; }
    
    private IService<Function>? FunctionService { get; set; }
    private bool _initialized = false;

    
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (!(firstRender && !_initialized))
            return;
        
        FunctionService = ServiceManager.GetService<Function>();
        var functionId = await SessionStorage.GetItemAsync<Guid>("functionId");
        Function = FunctionService.GetById(functionId);

        var movieDeserializer = new Deserializer<Movie>();
        var movieUrl = $"{Environment.GetEnvironmentVariable("MOVIES_LINK")}/{id}";
        Movie = await movieDeserializer.Fetch(movieUrl)!;

        _initialized = true;
        StateHasChanged();
    }
    
    private void IncreasePeople()
    {
        if(NumberOfPeople < 7)
            NumberOfPeople++;
    } 

    private void DecreasePeople()
    {
        if (NumberOfPeople > 1)
            NumberOfPeople--;
    }

    private async Task ProceedToNextStep()
    {

        await SessionStorage.SetItemAsync("quantity", NumberOfPeople);
        NavigationManager.NavigateTo($"/SeatSelect/{id}");
    }
}
