@page "/RentalHistory"
@inherits AuthenticatedComponentBase
@using Microsoft.EntityFrameworkCore
@using SistemaDeBilheteira.Services.Database.Entities.Payment
@using SistemaDeBilheteira.Services.Database.Entities.ProductSystem.Rental
@using SistemaDeBilheteira.Services.IService
@using SistemaDeBilheteira.Services.IService.ServiceManager
@inject IServiceManager ServiceManager
@rendermode InteractiveServer

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat|Poppins">

<div class="background">
    <div class="flex title-logo">
        <img src="images/icons/rental/rentalHistory.svg" alt=""/>
        <div class="title">Rental History</div>
    </div>
    
    <div class="elements">
        @if (UserRentalItems != null && UserRentalItems.Any())
        {
            @foreach (var item in UserRentalItems)
            {
                <div @key="item.Rental.Id">
                    <RentalHistoryElement
                        Rental="@item.Rental"
                        Purchase="@item.Purchase"
                        OnCancel="() => CancelRental(item.Rental)">
                    </RentalHistoryElement>
                </div>
            }
        }
        else
        {
            <div class="empty-message">
                No rental history available
            </div>
        }
    </div>
</div>

@code {
    private List<(Rental Rental, Purchase Purchase)> UserRentalItems { get; set; } = new();
    private IService<PurchaseItem> PurchaseItemService { get; set; }

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        PurchaseItemService = ServiceManager.GetService<PurchaseItem>();
        LoadUserRentals();
    }

    private void LoadUserRentals()
    {
        // Obtener todos los PurchaseItems del usuario que sean de tipo Rental
        var rentalItems = PurchaseItemService.GetWithQuery(
            q => q.Where(pi => pi.Purchase.AppUserId == User.Id && 
                               pi.Product is Rental)
                 .Include(pi => pi.Purchase)
                 .Include(pi => pi.Product)
        ).ToList();

        @* UserRentalItems = rentalItems
            .Select(pi => ((Rental)pi.Product, pi.Purchase))
            .OrderByDescending(x => x.Purchase.PurchaseDate)
            .ToList(); *@
    }

    private void CancelRental(Rental rental)
    {
        if (rental.StateName != "Cancelled")
        {
            rental.Cancel();
            var rentalService = ServiceManager.GetService<Rental>();
            rentalService.Update(rental);
            LoadUserRentals();
        }
    }
}