@page "/SignUp"
@using SistemaDeBilheteira.Components.Cards
@using SistemaDeBilheteira.Components.Cards.Authentication

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Konkhmer+Sleokchher">

<div class="background flex">
    <Banner></Banner>
    
    <div>
        <div>Hello!</div>
        <div>Sign Up to Get Started</div>
    </div>
    
    <form>
        <div class="flex">
            <div> <img/></div>
            <input id="full name" placeholder="FULL NAME"/>
        </div>
        <div class="flex">
            <div> <img/></div>
            <input id="email" type="email" placeholder="EMAIL ADDRESS"/>
        </div>
        <div class="flex">
            <div> <img/></div>
            <input id="password" type="password" placeholder="PASSWORD"/>
        </div>
        <div class="flex">
            <div> <img/></div>
            <input id="confirm-password" type="password" placeholder="CONFIRM PASSWORD"/>
        </div>
        
    </form>
</div>

<Footer></Footer>
@code {
    
}