@page "/SignUp"
@using SistemaDeBilheteira.Components.Cards
@using SistemaDeBilheteira.Components.Cards.Authentication

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Konkhmer+Sleokchher|Montserrrat">

<div class="background flex">
    <Banner></Banner>
    
    <div class="sign-up">
        <div class="greetings">Hello!</div>
        <div class="get-started">Sign Up to Get Started</div>


        <form>
            <div class="flex input-element">
                <div class="logo"> <img class="user-logo" src="images/icons/profile/user.svg" alt=""/></div>
                <input id="full name" placeholder="FULL NAME"/>
            </div>
            <div class="flex input-element">
                <div class="logo"> <img src="images/icons/authentication/email.svg" alt=""/></div>
                <input id="email" type="email" placeholder="EMAIL ADDRESS"/>
            </div>
            <div class="flex input-element">
                <div class="logo"> <img src="images/icons/authentication/lock.svg" alt=""/></div>
                <input id="password" type="password" placeholder="PASSWORD"/>
            </div>
            <div class="flex input-element">
                <div class="logo"> <img src="images/icons/authentication/lock.svg" alt=""/></div>
                <input id="confirm-password" type="password" placeholder="CONFIRM PASSWORD"/>
            </div>
            
            <button class="register">REGISTER</button>

        </form>
    </div>
    

</div>

<Footer></Footer>
@code {
    
}