.background{
    padding: 20px 50px 20px 50px;
    background-color: #333334;
}
.logo{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.title{
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-left: 15px;

    color: #FFC700;
    font-family: Montserrat, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.flex{
    display: flex;
}

.products{
    margin: auto;
}