@page "/Wishlist"
@inherits AuthenticatedComponentBase
@using SistemaDeBilheteira.Components.Cards.Wishlist

<link rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Montserrat|Poppins|Nunito">



<div class="background">
    <div class="logo">
        <img class="cart-image" src="images/icons/cart/cart.svg" alt="cart"/>
        <div class="title">MY CART</div>
    </div>
    
    <div class="flex">
        <div class="products">
            
            <WishlistElement
                MovieId="950387">
            </WishlistElement>

            <WishlistElement
                MovieId="1197306">
            </WishlistElement>

            <WishlistElement
                MovieId="822119">
            </WishlistElement>
        </div>
    </div>
    
</div>



@code {
    
}