.background[b-jmjdo8cvn3]{
    padding: 20px 50px 20px 50px;
    background-color: #333334;
}

.flex[b-jmjdo8cvn3]{
    display: flex;
    justify-content: space-between;
}

.products[b-jmjdo8cvn3]{
    width: 56%;
}

.select[b-jmjdo8cvn3]{
    margin-left: 40px;
}



