.logo[b-1sca4mjcd0]{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    
}

.title[b-1sca4mjcd0]{
    display: inline-block;  
    justify-content: center; 
    align-items: center;
    margin-left: 15px;

    color: gold;
    font-family: Montserrat, serif;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.background[b-1sca4mjcd0]{
    padding: 20px 50px 20px 50px;
    background-color: #333334;
}

.flex[b-1sca4mjcd0]{
    display: flex;
}

.products[b-1sca4mjcd0]{
    width: 56%;
}

.payment[b-1sca4mjcd0]{
    margin-left: 40px;
}

