@inherits LayoutComponentBase
@inject NavigationManager NavigationManager

@if (isLoading)
{
    <div class="loader-overlay">
        <div class="spinner"></div>
    </div>
}
else
{
    <div>
        <div>
            <NavMenu />
        </div>

        <main class="fade-in">
            <article class="content px-4">
                @Body
            </article>
        </main>

        <div>
            <PagesFooter />
        </div>
    </div>
}

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>

@code {
    private bool isLoading = false;

    protected override void OnInitialized()
    {
        NavigationManager.LocationChanged += OnLocationChanged;
    }

    private async void OnLocationChanged(object? sender, Microsoft.AspNetCore.Components.Routing.LocationChangedEventArgs e)
    {
        isLoading = true;
        StateHasChanged();

        // Simula carregamento
        await Task.Delay(1000); 

        isLoading = false;
        StateHasChanged();
    }

    public void Dispose()
    {
        NavigationManager.LocationChanged -= OnLocationChanged;
    }
}
