<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Navbar Moderno</title>
  <link rel="stylesheet" href="styles.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>
<body>
  <nav class="navbar">
    <div class="logo">UMAMovies</div>
    <ul class="nav-links">
      <a href="/">Movies</a>
      <a href="/Rental">Rental</a>
      <a href="/tickets">Tickets</a>
      <a href="#">DVDs and Blu-Ray</a>
    </ul>
    <div class="search-bar">
      <input type="text" placeholder="Search...">
      <i class="fas fa-search"></i>
    </div>
  </nav>

</body>
</html>