@page "/Logout"
@inherits AuthenticatedComponentBase
@using SistemaDeBilheteira.Services.AuthenticationService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
<h3>Logout</h3>

@code {

    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogoutAsync();
        StateHasChanged();
        NavigationManager.NavigateTo("/", true);
    }    
}