@page "/Logout"
@inherits AuthenticatedComponentBase
@using SistemaDeBilheteira.Services.AuthenticationService
@inject IAuthService AuthService
@inject NavigationManager NavigationManager
<h3>Logout</h3>

@code {

    /** 
     * This method is called when the component is initialized. 
     * It logs out the user and navigates to the home page.
     */
    protected override async Task OnInitializedAsync()
    {
        await AuthService.LogoutAsync();
        StateHasChanged();
        NavigationManager.NavigateTo("/", true);
    }    
}