<div class="payment">
    
    <div class="title text">Card Details</div>
    <div class="type text">Card type</div>

    <div class="flex">
        <img src="images/icons/payment/paymentMethod/mastercard.svg" alt="mastercard"/>
        <img src="images/icons/payment/paymentMethod/visa.svg" alt="visa"/>
        <img src="images/icons/payment/paymentMethod/paypal.svg" alt="paypal"/>
        <img src="images/icons/payment/paymentMethod/applepay.svg" alt="applepay"/>
    </div>

    <form class="card-form">
        <div>
            <label for="name-on-card" class="input-label text">Name on card</label>
        </div>
        <div>
            <input id="name-on-card"/>
        </div>
        <div>
            <label for="card-number" class="input-label text">Card number</label>
        </div>
        <div>
            <input id="card-number" type="number" placeholder="1111222233334444"/>
        </div>

        
        
        <div class="flex">
            <div class=" expiration">
                <label for="card-expiration-date" class="input-label text">Expiration Date</label>
                <input class="expiration" id="card-expiration-date" type="date" placeholder="1mm/yy"/>
            </div>
            <div>
                <label for="card-cvv" class="input-label text">CVV</label>
                <input id="card-cvv" type="number" placeholder="123"/>
            </div>
        </div>
    </form>

    
    <div class="payment-details text ">
        <div class="flex space-between card-detail">
            <div class="description">Subtotal</div>
            <div class="value">€132.52</div>
        </div>

        <div class="flex space-between card-detail">
            <div class="description">Shipping</div>
            <div class="value">€10</div>
        </div>

        <div class="flex space-between card-detail">
            <div class="description">Total (Tax incl.)</div>
            <div class="value">€146.24</div>
        </div>
    </div>

    <button class="checkout">
        <div class="flex space-between">
            <div>€146.24</div>
            <div>
                Checkout
                <img src="images/icons/payment/paymentMethod/arrow.png" alt="">
            </div>
        </div>
    </button>

</div>

@code {
    
}