<div class="payment">
    <div class="payment-details text ">
        <div class="flex space-between card-detail">
            <div class="description">Subtotal</div>
            <div class="value">@Subtotal.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-PT"))</div>
        </div>

        <div class="flex space-between card-detail">
            <div class="description">Shipping</div>
            <div class="value">@Shipping.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-PT"))</div>
        </div>

        <div class="flex space-between card-detail">
            <div class="description">Total (Tax incl.)</div>
            <div class="value">@Total.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-PT"))</div>
        </div>
    </div>

    <button class="checkout" @onclick="OnPay">
        <div class="flex space-between">
            <div>@Total.ToString("C", System.Globalization.CultureInfo.GetCultureInfo("pt-PT"))</div>
            <div @onclick="OnPay">
                Checkout
                <img src="images/icons/payment/paymentMethod/arrow.png" alt="" />
            </div>
        </div>
    </button>

</div>

@code {
    [Parameter]
    public decimal Total { get; set; }

    [Parameter]
    public EventCallback OnPay { get; set; }

    [Parameter]
    public decimal Shipping { get; set; }
    
    private decimal Subtotal => Total - Shipping;
}