
<div class="promo">
    <div class="promo-title">ENTER PROMO CODE</div>
    <div class="promo-input">
        <input type="text" placeholder="Promo Code"/>
        <button>Submit</button>
    </div>
    
</div>

@code {
    
}